html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#grid {
  width: 100%;
}

#banner, #right, #left {
  border: 1px solid black;
}

#columns {
  display: flex;
  justify-content: space-around;
}

#banner {
  width: 80%;
  margin: auto;
}

#left {
  width: 40%;
  position: sticky;
}

#right {
  width: 40%;
}