html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #81de76;
}

#proto-form {
  margin: auto;
  padding: 100px;
  text-align: center;
}

#dateForm {
  margin-bottom: 30px;
}

#dataForm {
  margin-top: 30px;
}

#to-dew, .dew-date {
  border: 1px solid black;
}

#columns {
  display: flex;
  justify-content: space-around;
}

#banner {
  width: 100%;
  margin: auto;
  background-color: #ccff8c;
}

#left {
  width: 50%;
}

#right {
  width: 50%;
  padding-bottom: 30px;
}

.dew-date, #to-dew {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: #ccff8c;
}

#to-dew {
  position: sticky;
  top: 30px;
}