html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #81de76;
}

#proto-form {
  margin: auto;
  padding: 100px;
  text-align: center;
}

#dataForm, #completeForm {
  margin-top: 30px;
}

#to-dew, .dew-date {
  /* border: 1px solid black; */
  padding: 10px;
  padding-top: 5px;
}

#columns {
  display: flex;
  justify-content: space-around;
}

#banner {
  width: 100%;
  /* margin: auto; */
  background-color: #ccff8c;
}

#left {
  width: 50%;
}

#right {
  width: 50%;
  padding-bottom: 30px;
}

.dew-date, #to-dew {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: #ccff8c;
}

#to-dew {
  position: sticky;
  top: 30px;
  margin-bottom: 30px;
}

label {
  font-family: 'Varela Round', sans-serif;
}

#dateField, #dateButton, #dataButton, #completeButton, #listField, #taskField, #dropButton {
  color: #4da842;
  border: 1px solid #4da842;
  background-color: #ccff8c;
  font-family: 'Varela Round', sans-serif;
}

.fa-tint {
  color: rgb(123, 141, 241);
  margin: 10px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: rgb(123, 141, 241);
}

p {
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
}

#dataForm {
  display: none;
}